body {
    background-image: linear-gradient(180deg, rgb(243, 243, 243), rgb(136, 218, 233), rgb(19, 158, 250));
    
  }

  img {
    margin-left: 750px;
    margin-bottom: 50px;
    width: 10%;
    height: 10%;
    border-style: groove;
  }

div {
    color: rgb(27, 27, 27);
    border-style: solid;
    border-color: white;
    border-width: 2px;

    
}

h3 {
    text-decoration-line: underline;
    color: rgb(27, 27, 27);
    margin-left: 80px;
    margin-bottom: 30px;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h2 {
    margin-left: 600px;
    color: rgb(27, 27, 27);
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
   margin-left: 60px;
   font-size: 18px;
}

li {
  margin-left: 60px;
}







